<style>
  .li {
      text-decoration-style: solid;
  }
  i.fab.fa-instagram {
      font-size: 2em;
      color: red;
  }
  .footer {
      background-color: white;
      color: black;
      border-top: 3px solid yellow;
      padding: 20px;
  }
  .footer a {
      color: red;
      text-decoration: none;
  }
  .footer a:hover {
      text-decoration: underline;
  }
  .footer p {
      font-weight: bold;
  }
  .footer iframe {
      border: none;
  }
</style>

<div class="footer navbar-fixed-bottom my-footer">
  
  <div style="font-family: Sans-Serif; font-size:12px; color:black; opacity:0.7; padding-top: 5px;">
      Powered by 
      <a href="https://www.proxi.co/" target="_blank">Proxi</a>
  </div>
  <!-- Contact Section -->
  <ul class="list-unstyled mt-3">
      <li class="text-dark">Contact Us</li>
      <li>
          <a href="https://www.instagram.com/USERNAME/" class="fab fa-instagram" target="_blank"> Follow us on Instagram</a>
      </li>
  </ul>
  <!-- Footer Text -->
  <p class="text-center">&copy; Sayali's Kitchen. All Rights Reserved.</p>
</div>
